@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* color principal : couleur principale : #022873 / blue : #2e60b9 / cyan : #61aec0 / Jaune : #ffc652/ Rouge : #d8665b */
:root {
    --main-color: #042578;
    --blue: #2e60b9;
    --cyan: #61aec0;
    --red: #d8665b;
    --yellow: #ffc652;
    --whitetext: #eeecec;
    --text: 'Montserrat', sans-serif;
}


::-webkit-scrollbar {
    width: 0.4rem;
    border-radius: 5px; 
    padding: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--cyan); 
    border-radius: 5px;
    opacity: 5;
    padding: 1px;
  }
  
  ::-webkit-scrollbar-track {
    background-color:var(--blue);
    border-radius: 5px;
  }

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;

    body {
        max-width: 100vw;
        border: 0;
        background-color: var(--main-color);
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 100%;
        overflow-x: hidden;

            h2 {
                font-size: 3.5em;
                padding: 3rem 0 0 0;
                margin-left: 2em;
                color: var(--whitetext);
            }

            h4 {
                font-size: 2em;
                margin-left: 40%;
                margin-top: 0;
                color: var(--whitetext);
            }
            
            p {
                font-size: 1em;
                line-height: 1.5;
                font-family: var(--text);
                color: var(--whitetext);
            }

            @media screen and (min-width : 2400px){
                p{
                    font-size: 2em;
                }
            }
            
            @media screen and (max-width: 800px) {
                h4{
                    margin-left: 30px;
                }
                h2 {
                    font-size: 3em;
                    padding: 15px 0;
                }
                
                p {
                    font-size: 0.95em;
                } 
            }

            @media screen and (max-width: 400px){
                html body h2 {
                    font-size: 2em;               
            }
        }

            @media screen and (max-width: 300px){
                html body h2 {
                    font-size: 1.8em;               
            }
        }

/************************ Barre de navigation*************************/
navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 1000;
    height: 70px;

    #logonav {
        object-fit: contain;
        width: 2em;
        margin-top: 0.1em;
        margin-left: 2em;
    }

    .burger{
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;

        li {
            list-style: none;
            margin-left: 20px;
            margin-right: 20px;

        a {
            text-decoration: none;
            padding: 6px 15px;
            color: #fff;
            border-radius: 20px;
       
        }
        a:hover,
        a.active {
            background-color: #fff;
            color: var(--main-color);
        } 
    }
    }

    @media screen and (max-width: 600px){
        .menu{
            display: none;
        }

        .menuBurger  {
            display: flex;
            flex-direction: column;
            background-color: white;
            color: var(--main-color);
            position: absolute;
            right: 0;
            top:0;
            z-index: 20;
            margin: 0;

            li a.active {
                color: var(--yellow);
            }

            li {
                list-style: none;
                margin: 15px 20px 15px 15px;

            a {
                text-decoration: none;
                color: var(--blue);
                border-radius: 0;
                padding: 0;
                background-color: none;
            }
        }

        }

    .burger{
        display: block;
        justify-content: right;
        cursor: pointer;
        color: var(--blue);
        background-color: #fff;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        padding: 5px;
        z-index: 30;
        margin-right: 10px;
        margin-top: -26px;
    }

}
}

/****************HERO**********************/

.hero::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--main-color), transparent);
    z-index: 1000;
}
.hero {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/ciel.png);
    background-size: cover;

    img {
        position: absolute;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
        z-index: 10;
        top: 0px;

        #thirdplan {
            z-index: 6;
        }
    }

    #stars {
        height: fit-content;
        z-index: 2;
    }
    
    #logolotte {
        object-fit: contain;
        width: 25vw;
        height: 300px;
        top: 100px;
    }
}
@media screen and (max-width : 820px) {
    .hero {
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        align-self:center;
        width: 100vw;
    
        img {            
    
            height: 60vh;
        }
    
        #stars {
            width: 200%;
        }
        
        #logolotte {
            object-fit: contain;
            width: 40vw;
            top: 50px;
        }
}}
@media screen and (max-width : 750px){
    .hero #logolotte {            
        
            object-fit: contain;
            width: 40vw;
            top: -26px;
}
}

/**************************Section About************************/

.sec {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    .lottedescription {
        display: flex;
        flex-wrap: wrap;

        .texte {
            position: relative;
            max-width: 48rem;
            padding-left: 10rem;
        }

        .bounceInRight, .bounceOutRight{
            width: 100%;
            transition: 2s ease-in-out;
            animation-duration: 2s;
        }

        #buttoncv {
            padding: 0;
            border: none;
            background: none;
 
        }

       #cvlotte {
            position: absolute;
            object-fit: contain;
            cursor: pointer;
            height: 20rem;
            right: 50px;
            transform: rotate(-15deg);
            z-index: 30;
            overflow-y: hidden;
        }

        .cv{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            position: fixed;
            top:0;
            backdrop-filter: blur(10px);
            z-index: 1000; 
        }
        #cv {
            object-fit: contain;
            z-index: 100;
            max-width: 80%;
            height: 80%;
            margin: 5rem;

        }
        .close-modal{
            border-radius: 50%;
            width: 20px;
            height: 20px;
            border: none;
            margin: 1rem;
            color: var(--main-color);
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            cursor: pointer;
        }
    }  

}

/************************** Skills***************/

.skills {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        object-fit: contain;
        position: absolute;
    }

    img:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
    
    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }
    
        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }
    
        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }
    
        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }
    
        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }
    
        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }
    
        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }
    
        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }
    
        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }
    
        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }
    
        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }

    }

    #nest {
        width: 94%;
        animation: none;
        transform: translate(0%, 0%);
        left: 5%;
        bottom: 2%;
        height: 100%;
    }
    
    #egg1 {
        top: 14.5%;
        left: 43.5%;
        width: 11%;
        z-index: 10;
        transform: translate(-0.5%, -0.5%);
    }
    
    #egg2,
    #egg3 {
        z-index: 12;
        width: 11.5%;
    }
    
    #egg2 {
        left: 34%;
        top: 15%;
        transform: translate(0%, 0%);
    }
    
    #egg3 {
        left: 52%;
        top: 20.5%;
        transform: translate(0%, 0%);
    }
    
    #egg4,
    #egg5 {
        z-index: 13;
        width: 12%;
    }
    
    #egg4 {
        left: 80%;
        top: 19%;
        transform: translate(0%, 0%);
    }
    
    #egg5 {
        left: 7%;
        top: 15%;
        transform: translate(0%, 0%);
    }
    
    #egg6,
    #egg7 {
        width: 13.6%;
        z-index: 14;
    }
    
    #egg6 {
        left: 30.5%;
        top: 23.5%;
        transform: translate(-0.5%, -0.5%);
    }
    
    #egg7 {
        left: 50%;
        top: 26.5%;
        transform: translate(-0.5%, 0%);
    }
    
    #egg8 {
        z-index: 15;
        width: 14.2%;
        top: 28.5%;
        left: 39%;
        transform: translate(0%, 0%);
    }
    
    #egg9 {
        width: 14.2%;
        top: 54%;
        left: 20%;
        transform: translate(0%, 0%);
    }
    
    #egg10 {
        z-index: 16;
        width: 14.4%;
        top: 53%;
        left: 67%;
        transform: translate(0%, 0%);
    }
}

@media screen and (min-width : 1600px){
    .sec{ 
        .lottedescription .texte {
        max-width:60rem ;
    }
    p{
        font-size: 1.5rem;
    }
    .skills{
        height: 99vh;
    }
    }
}
@media screen and (min-width : 1800px){
    .sec{ 
 
    .skills{
        height: 59vh;
    }
    }
}

@media screen and (max-width : 1200px) {
    .sec .lottedescription .texte {
        width: auto;
        padding-left: 5rem;
        max-width: 42rem;
    }
    .skills {
        height: 92vh;
}
.skills #nest {
    height: 100vh;
}

}
@media screen and (max-width : 1034px) {
    .sec {
        .lottedescription .texte {
        width: auto;
        padding-left: 5rem;
        max-width: 30rem;
    }
    .skills {
        height: 92vh;
}
.skills #nest {
    height: 100vh;
}
}}

@media screen and (max-width: 850px) {
   .sec{ 
    .skills {
        height: 35vh;
    }
     #nest{
        bottom: -91%;
    }
}
}

@media screen and (max-width : 820px) {

    .sec {

        min-height: fit-content;
    
        .lottedescription {
            .cvlotte{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20vh;
                width: 100%;
        
        
                    #cvlotte {
                        position: inherit;
                        height: 20vh;
                        margin: 0;
                    }
                }
                .close-modal{
                    position: fixed;
                    margin-top: 6rem;
                    font-size: x-small;
                }
    
            .texte {
                position: inherit;
                max-width: 100%;
                margin: 20px;
                padding-left: 0;
                padding: 1em;
                text-align: justify;
                text-justify:distribute;
                overflow-y:visible;
            }
        }  
    
    }
}

@media screen and (max-width: 810px) {
    .sec {
        .skills {
        height: 29vh;
    }
    
        .skills #nest {
        width: 94%;
        left: 5%;
        bottom: -116%;
    }

    .skills #egg1 {
        top: 14.5%;
        left: 43.5%;
        width: 11%;
        transform: translate(-0.5%, -0.5%);
    }
}
}

@media screen and (max-width: 780px){
    .sec{
        .skills #nest{
            bottom: -128%;
        }
    }
}

@media screen and (max-width: 420px){
    .sec{
        .skills #nest{
            bottom: -115%;
        }
    }
}


@media screen and (max-width : 376px) and (max-height : 668px) {

.sec {
    .skills {
        height: 28vh;
    }

    .skills #nest {
        bottom: -126%;
    }
    
}
}


@media screen and (max-width : 374px) {
    h2{
        font-size: 2em;
    }
    .skills {
        height: 24vh;
    }
    
}

@media screen and (max-width : 300px) {
    h2{
        font-size: 1.8em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .sec {    
        .lottedescription{
            .texte{
                height: 20vh;
                overflow-y: scroll;
            }
        }
        .skills #nest {
            bottom: -120%;
        }
        
    }
    
}


/***************Portfolio**********************/

.portfolio {
    height: 100vh;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    .portfoliocontainer {
        display: flex;

        .illustrations {
            width: fit-content;
            height: fit-content;

        }

        .portfolioillus{
            height: 64vh;
            width: 36vw;
            position: relative;
    
        img {
            width: 20%;
            object-fit: contain;
            position: absolute;
        }
    
        .bebechouette {
            height: 100%;


            #bb1,
            #bb2 {
                width: 13vw;
                bottom: -20%;
            }
    
            #bb1 {
                z-index: 7;
                left: 11%;
                transition: top 0.3s ease;
            }
            
            #bb2 {
                z-index: 6;
                left: 35%;
                opacity: 85%;
            }
            #bb1 {
                animation: shake1 1.5s;
                animation-iteration-count: infinite;
    
                @keyframes shake1 {
                    0% {
                        transform: translate(1px, 1px) rotate(0deg);
                    }
                
                    20% {
                        transform: translate(-2px, 0px);
                    }
                
                    50% {
                        transform: translate(-1px, 2px);
                    }
                
                    70% {
                        transform: translate(2px, 1px);
                    }
                
                    100% {
                        transform: translate(1px, 0px) rotate(1deg);
                    }
                }
            }
            
            #bb2{
                animation: shake2 1.5s;
                animation-iteration-count: infinite;
    
                @keyframes shake2 {
                    0% {
                        transform: translate(2px, 0px);
                    }
                
                    20% {
                        transform: translate(1px, 1px);
                    }
                
                    50% {
                        transform: translate(-1px, 2px);
                    }
                
                    70% {
                        transform: translate(-2px, 0px);
                    }
                
                    100% {
                        transform: translate(1px, 1px);
                
                    }
                }
            }  
            
            #fondnoir {
                z-index: 4;
                padding: 5px;
                width: 25vw;
                left: 5%;
            }
            
            #maisonlotte {
                z-index: 8;
                width: 28vw;
            }}
        }

         .descriptionandproject{
            display: flex;
            flex-direction: column;

            .description {
 
            
                .détailprojets{
                    width: 50vw;
                    height: fit-content;
                    margin-top: 0;
                }

        }
        .sites {
            display: flex;
            scrollbar-color: var(--blue) transparent;
            scrollbar-width: thin;
            overflow-y: hidden;
            width: 100vw;
        }
        .swippe {
            display: flex;
            flex-direction: column;
            align-items: center;

        button{
            margin: 3em 2em 0;
            padding: 1.1rem;
            border-radius: 50%;
            background-color: var(--whitetext);
            border: none;
            transition: 0.3s ease;
            cursor: pointer;
        }
        
            button:hover {
                transform: scale(1.1);
              }
            
            img {
                width: 10rem;
                height: 10rem;
                object-fit: contain;
                padding: 5px;
            }

            .sloggan{
                display:flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                max-width: 12rem;
                margin: 0.5rem;
            }
            .sloggan p{
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
                color:var(--blue);
            }
        }
   }


    }

    .modal{
        width: 60vw;
        height: fit-content;
        position: absolute;
        z-index: 100;
        background-color: var(--blue);
        border-radius: 5%;
        padding: 1.5rem;
        right: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 80vh;
        overflow-y: scroll;

        .close-modal{
            border-radius: 50%;
            width: 20px;
            height: 20px;
            border: none;
            margin: 1rem;
            color: var(--main-color);
            font-family: "Poppins", sans-serif;
            font-weight: 800;
            right: 0;
            top: 0;
            position: absolute;
            justify-self: center;
            cursor: pointer;
        }

        h2{
            font-size: 2em;
            padding: 1rem;
            margin-left: 1rem;
            margin-top: 2rem;
            color: var(--whitetext);
        }

        p{
            font-size: 0.8rem;
        }

        .video{
            display: flex;
            justify-content: center;
            align-items: center;
        
        video#video{
            width: 70%;
            height: fit-content;
            object-fit: contain;
            margin: 1rem;
            border-radius: 5%;
            background-color: var(--main-color);
        }
    }
    .lien-site {
        display: flex;
        justify-content: center;


     a{
        font-size: 0.8rem;
        text-decoration: none;
        margin: 2em;
        font-weight: 700;
        color: var(--red);
        background-color: var(--yellow);
        width: 6rem;
        height: 2rem;
        border-radius: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a:hover{
        color: var(--yellow);
        background-color: var(--main-color);
        transform: scale(1.15);
    }
}
    
    }  
    ::-webkit-scrollbar-track {
        margin: 1.4rem;
      }  
}

 
@media screen and (min-width : 1800px)  {
    .portfolio .portfoliocontainer .portfolioillus {
        height: 45vh;
}}
@media screen and (min-width : 1600px){
.portfolio .portfoliocontainer .portfolioillus {
    height: 56vh;
    width: 36vw;
}
}

        @media screen and (min-width : 2400px){
            .portfolio {
                .portfoliocontainer {
                    .portfolioillus {
                height: 51vh;
            }
            .descriptionandproject .description .détailprojets{
                width: 33vw;
            }
        }
            }}
            // @media screen and (max-width : 1200px){
            //     .portfolio .portfoliocontainer .portfolioillus {
            //         height:60vh;    }
            //     }

@media screen and (max-width : 840px){

    .portfolio{
        height: fit-content;
        margin: auto;

    .portfoliocontainer .portfolioillus {
        height: 21vh;
        width: 36vw;
        position: relative;
    }
    .descriptionandproject{
        width: 65vw;

        .description {
            width: 65vw;
    }}
    .portfoliocontainer .descriptionandproject
    .sites {
        width: 65vw;
        overflow-x: scroll;
    }

}}



@media screen and (max-width : 800px) {

    .portfolio {
        margin:0;
        height: 80vh;


    .portfoliocontainer .portfolioillus{
        height: 20vh;

        .bebechouette #bb1{
            bottom: 1.5rem;
        }

        .bebechouette #bb2{
            bottom: 1.6rem;
        }

        .bebechouette #fondnoir{
        padding: 2px;
    }
    }

    .descriptionandproject{
        position: relative;
        height: 62vh;
        width: 100vw;

    }
    .portfoliocontainer .descriptionandproject .sites{
            position: absolute;
            bottom: 0;
            left: -10rem;
            width: 100vw;
            margin-left: 1rem;
        }

        .swippe .button{
            margin: 0.5rem;
        }

        img#swipper {
            width: 6rem;
            height: 6rem;
        }

        .modal{
            width: 73vw;
            right: 2rem;
            overflow-x: hidden;

            h2{
                margin-top: 2em;
            }
        }


}}

@media screen and (max-width : 890px){
    .portfolio{
        height: 61vh;

        .portfoliocontainer .descriptionandproject{
        height: 50vh;
    
    .swippe{
        margin: 1.5rem 0;
    }}}
}

@media screen and (max-width : 780px) and (min-width : 700px){
    .portfolio {
        .portfoliocontainer .portfolioillus{ .bebechouette #bb1{
        bottom: -4.5rem;
    }
    .bebechouette #bb2{
        bottom: -4.5rem;
    }}
    .portfoliocontainer .descriptionandproject .sites {
        bottom: 193px;
        width: 49vw;
        left: -2rem;
    }
}}

@media screen and (max-width : 600px){
    .portfolio {
        height: 71vh;

        .portfoliocontainer .portfolioillus{ .bebechouette #bb1{
        bottom: -3.5rem;
    }
    .bebechouette #bb2{
        bottom: -3.5rem;
    }}
    .portfoliocontainer .descriptionandproject .sites {
        bottom: 51px;
        width: 65vw;
        left: -2rem;
    }
}

}

@media screen and (max-width : 490px){

    .portfolio{
        height: 90vh;

        .portfoliocontainer .descriptionandproject{
        height: 48vh;
    
    .swippe{
        margin: 1rem 0;
    }
}
}
}

@media screen and (max-width : 450px){
    .portfolio{
        height: 75vh;

    .portfoliocontainer .portfolioillus .bebechouette #bb1{
            bottom: 2rem;
        }

        .portfoliocontainer .portfolioillus .bebechouette #bb2{
            bottom: 2.5rem;
        } 
    }
    .portfolio .portfoliocontainer .descriptionandproject .sites {
        width: 94vw;
        left: -9rem;
}}

@media screen and (max-width : 390px){
    .portfolio

        .descriptionandproject {
        height: 41vh;

        .swippe{
            margin: 1rem 0;
        }
    }
}

@media screen and (max-width: 380px){
    .portfolio .portfoliocontainer .descriptionandproject {
        height: 76vh;
    }
    .portfolio .swippe {
        height: 31vh;
    }
}

@media screen and (max-width: 360px){
.portfolio .portfoliocontainer .descriptionandproject {
    height: 60vh;
}}

@media screen and (max-width : 300px){
    .portfolio{ 
        height: 69vh;

        .portfoliocontainer .portfolioillus {
            height: 15vh;
        }

        .portfoliocontainer .descriptionandproject{
            height: 41vh;

             .sites {
        bottom: -8px;
        width: 100vw;
        left: -7rem;
    }}
    .modal {
        right: 1rem;
        justify-content: normal;

        h2{
            margin-left: 0;
            margin-top: 1em;
        }

        .lien-site a {
            margin: 1em;
            font-size: 0.7rem;


        }
    }
}
.portfolio .portfoliocontainer .descriptionandproject .swippe {
        height: 30vh;
    }
}
 
@media screen and (max-width : 376px) and (max-height : 668px){

    .portfolio {
        margin:0;
        height: 100vh;
        
        .portfoliocontainer .portfolioillus{

        .bebechouette #bb1{
            bottom: 0rem;
        }

        .bebechouette #bb2{
            bottom: 0rem;
        }

        .bebechouette #fondnoir{
            padding: 0px;
            margin: 2px;
        }
    }

 .portfoliocontainer .descriptionandproject {
        height: 68vh;
    }
        .sites{
            position: absolute;
            bottom: 0;
            width: 100vw;
        }

        .swippe {
            height: 31vh;
            
            .button{
            margin: 0.5rem;
        }}

}}

/*************Contact**************************/

.contact {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    h2 {
        position: relative;
        width: 100vw;
    }
    
    .messagelotte{
      display: flex;

      img{
        width: 28%;
        position: relative;
        object-fit: contain;
        animation: shakeupndown 3s linear 0s infinite alternate;
      }
      
      @keyframes shakeupndown {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
        100% {
        transform: translateY(0);
        }
      }
    }

    #formncontact {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        }

        form {
            width: 35vw;
            margin: 0 30px 30px 30px;
      
        
        label {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: white;
        }
        input {

            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            border-radius: 5px;
            padding: 5px;
            border: none;
        }

        #fullname, #email {
            width: 25vw;
            margin-bottom: 10px;
            margin-top: 5px;
        }

        #message {
            width: 30vw;
            height: 10vh;
            margin-bottom: 5px;
            margin-top: 10px;
        }
        .formError{
           display: flex; 
           font-size: x-small;
           max-width: 25vw;
        }


        .btn {
            background-color: var(--red);
            min-width: 30%;
            max-height: 10vh;
            min-height: 30px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            color: white;
            margin-top: 15px;
            transition-duration: 00.4s;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            margin-left: 25%;
        }
        .btn:hover {
            background-color: var(--yellow);
            color: var(--main-color);
        }

    }

        .telephonmail {
            width: fit-content;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
        .contact p {
            color: white;
            font-weight:500;
            font-size: 20px;
        } 
}

@media screen and (max-width : 900px) {
    section#contact.contact{
        margin-top: 0;
    }
    }

@media screen and (max-width : 600px) {
    .messagelotte{

        overflow: hidden;
}
    form {
            width: 65vw;
        
        #fullname,
        #email {
            width: 60vw;
        }
        
        #message {
            width: 60vw;
        }
        .btn {
            width: 40%;
        }
    }
    }

@media screen and (max-width : 376px) and (max-height : 668px){
    .contact{
        margin-top: 0;
    }
}

@media screen and (max-width : 500px) {

    .contact form {
            width: 65vw;
    }
            .contact form #fullname, .contact form #email, .contact form #message {
            width: 60vw;
        }
        .contact form .btn {
            width: 81%;
            margin-left: 0;

        }

    }

/****************** FOOTER ***************/


footer#main-footer {
    background-size: 100vh;
    height: auto;
    width: 100vw;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  
    .icons {
      list-style: none;
      display: flex;
      padding-left: 0px;
  
      li {
        margin: 10px;
      }
  
      a {
        color: white;
        font-size: 2.2rem;
        transition: color .4s ease;
      }
  
      a:hover {
        color: var(--red);
      }
    }
  
    .footer-bottom {
      width: 100vw;
      padding-bottom: 20px;
      text-align: center;
      font-size: 1rem;
      word-spacing: 2px;
      text-transform: capitalize;
    }
    @media screen and (max-width : 400px) {
        .footer-bottom {
            font-size: 0.85rem;
        }
    }
  }}}